/* Write your CSS code here */
.background {
  text-align: center;
  padding: 130px;
}
.heading {
  color: orangered;
}
.button {
    padding: 15px;
    font-size: 15px;
    background-color: blue;
    border-radius: 15px;
    margin: 15px;
}